* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.body1
{
    background-image: url("bak.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
	font-family: sans-serif;
}

#information {
  position:absolute;
    border: 3px solid rgb(209, 222, 242);
  border-radius: 00px;
    background: #6087a8;
    color: rgb(1, 1, 1);
    opacity: 80%;
    backdrop-filter: blur(10px);
    display: block;
	width: 500px;
	max-height: auto;
	margin: 0 auto;
	padding: 30px 20px;
	text-align: center;
   margin-top:0%;
   margin-bottom: 2%;
   left: 15%;
   top:8%;
   font-family:'Courier New', Courier, monospace;
}

#information1 {
  position:absolute;
    border: 3px solid rgb(209, 222, 242);
  border-radius: 00px;
    background: #6087a8;
    color: rgb(255, 255, 255);
    opacity: 100%;
    backdrop-filter: blur(10px);
    display: block;
	width: 500px;
	max-height: auto;
	margin: 0 auto;
	padding: 30px 20px;
	text-align: center;
   margin-top: 2%;
   margin-bottom: 2%;
   left: 8%;
   top:4%;
   font-family:'Courier New', Courier, monospace;
}
#information2 {
  position:absolute;
    border: 3px solid rgb(209, 222, 242);
  border-radius: 00px;
    background: #6087a8;
    color: rgb(255, 255, 255);
    opacity: 100%;
    backdrop-filter: blur(10px);
    display: block;
	width: 500px;
	max-height: auto;
	margin: 0 auto;
	padding: 30px 20px;
	text-align: center;
   margin-top: 2%;
   margin-bottom: 2%;
   left: 8%;
   top:37%;
   font-family:'Courier New', Courier, monospace;
}
#information3 {
  position:fixed;
    border: 3px solid rgb(209, 222, 242);
  border-radius: 00px;
    background: #6087a8;
    color: rgb(255, 255, 255);
    opacity: 100%;
    backdrop-filter: blur(10px);
    display: block;
	width: 500px;
	max-height: auto;
	margin: 0 auto;
	padding: 30px 20px;
	text-align: center;
   margin-top: 2%;
   margin-bottom: 2%;
   left: 8%;
   top:68%;
   font-family:'Courier New', Courier, monospace;
}#information4 {
  position:absolute;
    border: 3px solid rgb(255, 255, 255);
  border-radius: 00px;
    background: #6088a800;
    color: rgb(255, 255, 255);
    opacity: 100%;
    backdrop-filter: blur(10px);
    display: block;
	width: 600px;
	height: 101%;
	margin: 0 auto;
	padding: 30px 20px;
	text-align: center;
   margin-top: 2%;
   margin-bottom: 2%;
   left: 110%;
   top: -2%;
   
   
}


h4 {
	text-align: center;
	margin-bottom: 10px;
	color: #ffffff;
}
h1 {
	margin-bottom: 30px;
	
}


form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: block;
	margin-bottom: 10px;
}

input,
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}
#submit{
	background-color: #e7d0d0;
	color: #000000;
  font-size: 15px;
	padding: 10px 20px;
	border-color: #060606;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 45%;
	height: 40%;
	
}

#submit:hover {
	background-color: #82c5e7;
}






.body1
{
    background-image: url("bak2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#editbranch
{
	display: none;
}

#question { 
  border: 3px solid rgb(255, 255, 255);
  border-radius: 30px;
 display:none;
  color: white;
  position: relative;
    background-color: rgba(142, 139, 134, 0.385);
    max-width: 610px;
    height: 500px;
    margin: 0 auto;
    top:120px; 
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 0;
  }
  
  form ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  form li {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  #ansSubmit {
    display: none;
    position:absolute;
    width: 150px;
    height: 65px;
    top:403px;
      right: 38%;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(36, 182, 143, 0.84);
    color: rgb(255, 255, 255);
    border: 3px solid white;
    border-radius: 30px;
    cursor: pointer;
  }
  
  #ansSubmit:hover {
    background-color:rgba(0, 255, 187, 0.84);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#upper{position: fixed; display: block;}
nav { height: 50px;
    background: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(2px);
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    color: #fff;
    background: #333;
    padding: 5px 10px;
    border-radius: 5px;
}
img{position: absolute;
  top: 5px;}

.bottom1{
    height: 150px;
    width: 100%;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(1px);
    position: relative;
    top:850px;
    color: #000000;
    z-index: 9999;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}




.que1 { 
  border: 3px solid rgb(255, 255, 255);
  border-radius: 30px;
 font-size: 20px;
  color: white;
  position: relative;
    background-color: rgba(142, 139, 134, 0.385);
    max-width: 500px;
    margin: 0 auto;
    top:30px;
    padding: 20px;
  }

  
    .q1o1 { 
      border: 3px solid rgb(255, 255, 255);
      border-radius: 30px;
      font-size: 15px;
      color: white;
      position:absolute;
        background-color: rgba(142, 139, 134, 0.385);
        width: 225px;
    height: 50px;
        margin: 0 auto;
        top: 250px;
      right: 54%;
        padding: 3px;
      }

      .q1o2 { 
        border: 3px solid rgb(255, 255, 255);
        border-radius: 30px;
        font-size: 15px;
        color: white;
        position:absolute;
          background-color: rgba(142, 139, 134, 0.385);
          width: 225px;
    height: 50px;
          margin: 0 auto;
          top: 250px;
      right: 55px;
          padding: 3px;
        }


        .q1o3 { 
          border: 3px solid rgb(255, 255, 255);
      border-radius: 30px;
      font-size: 15px;
      color: white;
      position:absolute;
        background-color: rgba(142, 139, 134, 0.385);
		width: 225px;
		height: 50px;
        margin: 0 auto;
        top: 330px;
      right: 54%;
        padding: 3px;
          }

          .q1o4 { 
            border: 3px solid rgb(255, 255, 255);
        border-radius: 30px;
        font-size: 15px;
        color: white;
        position:absolute;
          background-color: rgba(142, 139, 134, 0.385);
          width: 225px;
    height: 50px;
          margin: 0 auto;
          top: 330px;
      right: 55px;
          padding: 3px;
            }

.q1o1:hover{
  background-color: rgb(196, 119, 119);
  cursor: pointer;
}
.q1o2:hover{
  background-color: rgb(196, 119, 119);
  cursor: pointer;
}
.q1o3:hover{
  background-color: rgb(196, 119, 119);
  cursor: pointer;
}
.q1o4:hover{
  background-color: rgb(196, 119, 119);
  cursor: pointer;
}


.nextQue { 
  display: block;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 30px;
 
  color: white;
  position:absolute;
    background-color: rgba(36, 182, 143, 0.84);
	width: 150px;
    height: 65px;
      margin: 0 auto;
      top: 403px;
      right: 58px;
      padding: 20px;
      font-size: 20px;
  }
  .previousQue { 
    display: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    height: 65px;
    color: white;
    position:absolute;
      background-color: rgba(36, 182, 143, 0.84);
      width: 150px;
      margin: 0 auto;
      top:403px;
      right: 66%;
      padding: 20px;
      font-size: 20px;
    }
    .previousQue:hover{
      background-color: rgba(0, 255, 187, 0.84);
      cursor: pointer;
      
    }
    .nextQue:hover{

      background-color: rgba(0, 255, 187, 0.84);
      cursor: pointer;

    }


    #result
    { display: none;
      position:absolute;
     border-radius: 20px;
     border: 5px solid white;
     width: 50%;
     height: 400px;
     top:20%;
     left: 27%;
     color: #fff;
     background-color: #e4eba94b;
    }

#face{
  position:absolute;
 top:10%;
 left: 3%; 
}
#insta{
  position:absolute;
 top:60%;
 left: 3%; 
}
#facebook{
  position:absolute;
  top:20%;
  left: 11%; 
  font-family:'Courier New', Courier, monospace;
}
#instagram{
  position:absolute;
  top:70%;
  left: 11%; 
  font-family:'Courier New', Courier, monospace;
}

#madewith{
  padding-top: 1%;
  position:absolute;
  top:0%;
  left: 40%; 
  font-family:'Courier New', Courier, monospace;
}

#dil{
  position:relative;
  top: 2px;
}

#qr{
  position: relative;
  width: 10%;
  height: 130px;
  background-image: url("GETAPP.png");
  background-repeat: no-repeat;

  background-size: cover;
  left: 90%;
  background-color: #000000;
}
#scanqr{
  font-family:'Courier New', Courier, monospace;
  position: relative;
  top:30%;
  left: -100%;
}

#info{

  border:2px solid #817373;
  border-radius: 20px;
  padding-top: 1%;
  position:absolute;
  top:30%;
  left: 35%; 
  width: 30%;
  padding-bottom: 2px;
  
  font-family:'Courier New', Courier, monospace;
}

